*
{
	margin: 0;
	padding: 0;

}

body
{

	font-family: sans-serif;
}

#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar
{

	margin-top: 10px;
	background: rgba(216, 213, 213, 0.5);
	color: #f1f1f1;
	padding: 0;
}

.logo
{
	padding-top: 10px;
	color: #f8f9fa;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
 	padding-left: 30px;
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a 
{
	color: #000000;
	font-weight: 900;
	letter-spacing: 1px;
	float: rights;
	text-align: center;
}
.nav-link:hover{
	background:#f8f9fa;
	color: white;
}

.navbar-toggler-icon
{
	color: #000000;
	font-size: 30px;
}

/*----Banner---*/

#banner
{
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	padding: 10%;
}
/* video background */
#background-video {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }
  
  /* page content */
  h1, h2 {
	color: white;
	font-family: Trebuchet MS;
	font-weight: bold;
	text-align: center;
  }
  
  h1 {
	font-size: 6rem;
	margin-top: 20vh;
	padding: auto; 
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 10px;
  }
  
  h2 { font-size: 3rem; }
  
  @media (max-width: 750px) {
	  #background-video { display: none; }
	  body {
		background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
		background-size: cover;
	  }
  }
.promo-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

.play-btn
{
	width: 45px;
	margin: 20px ;
}

#banner a 
{
	color: #000000;
	text-decoration: none;
}

#type-text{
	padding: 2px 0%;
	color:whitesmoke;
	font-family: "Open Sans", sans-serif ;
	font-size: 2em;
	font-display: inherit;
	white-space: nowrap;
	padding-bottom: 0%;
  }
  .btn-sub-two{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px; 
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.btn-sub{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px; 
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.btn-sub-two:hover {
	background: #FF9800;
	color: white;
  }
.btn-sub:hover {
	background: red;
	color: white;
  }

/*---Services Section---*/

#services
{
	padding: 50px 50px 50px 50px;
	margin: 50px 50px 50px 50px;
}


.flip-card {
	background-color: transparent;
	width: 300px;
	height: 300px;
	border: 1px solid #f1f1f1;
	perspective: 1000px; 
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden;
  }
  

  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  .flip-card-front img{
	  width: 300px;
	  height: 300px;
	
	}
  
  .flip-card-back {
	background-color: dodgerblue;
	color: white;
	transform: rotateY(180deg);
  }
  .flip-card-back p{
	  font-size: small;
	  margin-left: 5px;
	  margin-right: 5px;
  }
  .flip-card-back h3{
	font-size:large;
	margin-top: 15px;
}


/*---About us Section---*/

 #about-us
 {
 	background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
 	padding-top: 50px;
 	padding-bottom: 50px;
 }
.about-title
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 8%;
}
#about-us ul li 
 {
 	margin: 10px 0;
	 text-align:left;
 }
#about-us ul
  {
  	margin-left: 20px;
  }
.img-why
  {
  	width: 100%;
  	margin-top: 70px;
  }
.p1
{
	font-size: 15px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

/*---Testimonials Section---*/
#testimonials
{
	background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 100px 0;
}
.testimonials
{
	border-left: 4px solid #0ed2f7;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}
.testimonials img
{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 0 10px ;
}
.user-del
{
	 display: inline-block;
	 font-size: 12px;
}


/*---Contact Us----*/


#contact{
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-form{
  padding-top: 15px;
  margin-top: 10px;
}

.form-control{
  border-radius: 0 !important;
  border:none !important;
  margin-top: 15px;
}

::placeholder{
  color: rgb(41, 40, 40) !important;
}

.btn-sm
{
	box-shadow: none !important;
	width: 500px;
	border: none;
	border-radius: 0;
	margin-top: 30px;
}
.img-con
  {
  	width: 70%;
  	margin-top: 30px;
  }

#error_message{
    margin-bottom: 20px;
    background: rgba(247, 68, 74, 0.664);
    padding: 0px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
  }


/*--port--*/

#portfolio
{
	padding-top: 50px;
	padding-bottom: 50px;
}
  img:hover {
	animation: shake 0.5s;
  
	animation-iteration-count: infinite;
  }
  #img-pl
  {
	  margin: 10px 10px 10px 10px;
	  border: 5px solid white;
  }
  
  @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/*----Social Media Section-----*/

#social-media
{
	margin: 100px 0;
}
#social-media p 
{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}
.social-icons img 
{
	width: 60px;
	transition: 0.5s;
}
.social-icons a:hover img
{
	transform: translateY(-10px);
}


/*--Footer Section--*/

#footer
{
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
}

.footer-box
{
	padding: 20px;
}
.footer-box img 
{
	width: 120px;
	margin-bottom: 20px;
}
.p2
{
	font-size: 10px;
}

.footer-box p
{
	margin-right: 8px;
	font-size: 10px;
	padding-top: 7px;
}
.footer-box .form-control-em
{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 350px;
}
.footer-box .btn-primary
{
	box-shadow: none !important;
	border: none;
	border-radius: 10px;
	height: 40px;
	width: 100px;
	background-image: linear-gradient(to right, red, red);
}

hr 
{
	color: black;
}
.cr 
{
	margin-bottom: 0 ;
	padding-bottom: 20px;
	text-align: center;
}
.cr p
{
	font-size: 9px;
	font-weight: 600;
}
.logo-ft
{
	padding-top: 10px;
	size: 100px;
	color: #f8f9fa;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
 	padding-left: 20px;
}


